
MONGODB_URI=mongodb://MHS_Portfolio:rWnTlscvz2x240iP@ac-hesirku-shard-00-00.vc7idbk.mongodb.net:27017,ac-hesirku-shard-00-01.vc7idbk.mongodb.net:27017,ac-hesirku-shard-00-02.vc7idbk.mongodb.net:27017/MHS_Portfolio?ssl=true&replicaSet=atlas-m6me7t-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0

BETTER_AUTH_SECRET=eLkm5HrZ5zBOuQmvhRRqcvoZVeVFL0UD
BETTER_AUTH_URL=https://your-backend-project-url.vercel.app


IMGBB_API_KEY=54af9cb9ed3ed5ebbd11281a1915543e


EMAIL_USER=muradhasanshuvo00@gmail.com
EMAIL_PASS=dbji eird zbcw lqtx
EMAIL_RECEIVER=muradhasanshuvo00@gmail.com
